demo/
tests/

# build output
lib/
dist/
packages/orbiton/umd/
packages/orbiton/cjs/
packages/orbiton/jsx-runtime.js
packages/orbiton/esm/
packages/**/*.jsx

scripts/

# node modules
node_modules/

# jsx and js
**/*.jsx
**/*.log
**/*.json

*.md
__tests__


