


# node_modules
node_modules
/.pnp
.pnp.js

# text editor folders
.vs
.vscode
comand.txt
.idea

*.log

# builds

packages/orbiton/esm/
packages/orbiton/umd/
packages/orbiton/cjs/
packages/babel-plugin-orbiton-jsx/test.js
packages/babel-plugin-orbiton-jsx/lib
packages/server/lib
demo/webpack
**/esm/
**/cjs/
**/umd/
# jest test coverage
coverage

# log files
*.log

# ignoreFolder
ignoreFolder

# Rust Files
target
